<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Typing Race</title>
</head>
<body style="background-image: url(/images/background.jpg);">
        <div class="container">
            <p id="msg"><%= msg %></p>
            <form action="/createRoom" method="POST">
                <p id="room_id"><%= room_id %></p>
                <p id="msg"><%= msg %></p>

                <input class="name-box" type="text" name="username" id="name" placeholder="Your Name"/>

                <input type="submit" class="room-button" name="createRoom" value="Create & Join" id="createBtn">

                <!-- <input type="submit" class="room-button" name="joinRoom" value="Join Room" id="joinBtn"> -->

            </form>
        </div>

        <script src="js/home.js"></script>
        <!-- <script>
            var socket = io();
            socket.on("room not found",(msg)=>{
                var msgElm = document.getElementById("msg");
                msgElm.innerHTML = msg;
            })
        </script> -->
</body>
</html>