<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Typing Race</title>
</head>
<body style="background-image: url(/images/background.jpg);">
        <div class="container">
            <p id="msg"><%= msg %></p>
            <form action="/" method="POST">

                <!-- <input class="room-id" type="text" name="id" id="room" placeholder="Room Name"/>

                <input class="name-box" type="text" name="username" id="name" placeholder="Your Name"/> -->

                <input type="submit" class="room-button" name="createRoom" value="Create Room" id="createBtn">

                <input type="submit" class="room-button" name="joinRoom" value="Join Room" id="joinBtn">

            </form>
        </div>

       <script>
           if(window.innerWidth<500){
               alert("Please open in a bigger screen")
           }
       </script>
    
</body>
</html>