<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typing Race</title>
</head>
<body>
    <form action="/" method="POST">
        <input type="text" name="id" id="" placeholder="room name">
        <input type="text" name="username" id="" placeholder="enter name">
        <input type="submit" name="createRoom" value="Create Room" id="">
        <input type="submit" name="joinRoom" value="Join Room" id="">
    </form>






    <!-- <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script> -->
</body>
</html>