<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/styles.css">
    <title>Typing Race</title>
</head>
<body>
    <div class="" id="raceTrack" style="position: relative;">
            <!-- <img class="car" id="car1" src="images/car1.png" alt="car"
            style="left: 0;"/> -->
            <!-- <img class="car" id="car2" src="images/car1.png" alt="car"
            style="left: 0;display: none;"/>   
            <img class="car" id="car3" src="images/car1.png" alt="car"
            style="left: 0;display: none;"/>  -->
    </div>
    <div class="parah" id="parah"></div>


    <script src="/socket.io/socket.io.js"></script>
        <script src="js/script.js"></script>
</body>
</html>