<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
    <title>Typing Race</title>
</head>
<body>
    <form action="/leave" method="POST">
        <input type="submit" name="leaveBtn" value="Leave" id="leaveBtn">
    </form>

    <a id="startBtn">Start</a>
        <div class="" id="raceTrack" style="position: relative;"></div>
    <div class="parah" id="parah"></div>


    <script src="/socket.io/socket.io.js"></script>
        <script src="/js/script.js"></script>
</body>
</html>