<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Oi&family=Press+Start+2P&family=Reggae+One&family=Train+One&family=Yatra+One&family=Zilla+Slab+Highlight&display=swap" rel="stylesheet">


    <title>Typing Race</title>
</head>
<body>
    <div class="container show one"></div>
    <div class="container show two"></div>
    <div class="container show three"></div>
    <div class="container show four"></div>
    <div class="container show five"></div>
        <div class="container">
            <div id="heading"></div>
            
            <form action="/joinRoom" method="POST">
                <p id="msg"><%= msg %></p>

                <input class="room-id" type="text" name="id" id="room" placeholder="Room Id"/>

                <input class="name-box" type="text" name="username" id="name" placeholder="Your Name"/>

                <input type="submit" class="room-button" name="joinRoom" value="Join Room" id="joinBtn">

            </form>
        </div>

        <script src="js/home.js"></script>
        <script src="/js/heading.js"></script>
</body>
</html>