.App {
  font-family: sans-serif;
  text-align: center;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #6cdbeb 
}
.container{
  margin: auto;
  margin-top: 50px;
  box-sizing: border-box;
  background-color:rgb(255, 255, 255,.15);
  backdrop-filter: blur(5px);
  width: 500px;
  height: 500px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 20px 11px rgba(100, 152, 189, .2);
}
input{
  font-size: x-large;
  font-weight: bold;
  color: #ad7f7f;
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin-bottom: 15px;
  height: 100px;
  width: 100%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  outline: none;
  border: none;
  background-color:rgb(255, 255, 255,.15);
  backdrop-filter: blur(5px);
}
input, input[placeholder] {
  text-align: center;
}
input:focus{
  font-size: x-large;
}
#msg {
  font-family: 'Montserrat', sans-serif;
  color: red;
  font-weight:100;
  position: absolute;
  left: 200px;
  top: 100px;
}
#room_id {
  font-family: 'Montserrat', sans-serif;
  color: red;
  font-weight: bold;
  position: absolute;
  left: 200px;
  top: 50px;
}
.room-button{
  width: 400px;
  height: 100px;
  display: block;
  font-size: x-large;
  font-weight: 500;
}
.room-button:hover{
  background-color:rgb(25, 255, 255,.15);
}
.race-track{
  position: relative;
  width: 200vh;
  height: 200px;
  background-color:rgb(255, 255, 255,.15);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  border-radius: 6px;
}
.race-car{
  position: absolute;
  width:100px;
  height: 100px;
}
.car{
  width:100px;
  height: 100px;
  display: block;
  position: absolute;
}
#car1{
  top: 200px;
}
#car2{
  top: 300px;
}
#car3{
  top: 400px;
}
.name{
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}
#name1{
  top: 200px;
}
#name2{
  top: 300px;
}
#name3{
  top: 400px;
}
.ranking{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
#rank1{
  top: 0px;
}
#rank2{
  top: 40px;
}
#rank3{
  top: 80px;
}
.parah{
  width: 700px;
  margin: auto;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size:2rem;
  background-color:rgb(255, 255, 255,.15);
  backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: 3px;
}
.done{
  background-color: aquamarine;
}
.wrong{
  color:red;
}
.typing{
  background-color: antiquewhite;
  border-radius: 3px;
}
#leaveBtn{
  position: absolute;
  right: 10px;
  border-radius: 5px;
  background-color: aquamarine;
  color: white;
  border: none;
  padding: 6px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  width: 100px;
  font-size: larger;
  text-decoration: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
#leaveBtn:hover{
  background-color:rgb(25, 255, 255,.15);
}
#startBtn{
  position: absolute;
  top: 100px;
  right: 25px;
  border-radius: 5px;
  background-color: aquamarine;
  color: white;
  border: none;
  padding: 6px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  width: 100px;
  font-size: larger;
  text-decoration: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
#startBtn:hover{
  background-color:rgb(25, 255, 255,.15);
}
#startBtn:focus {
  outline: none;
  box-shadow: none;
}